<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}
  {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
  <title>Movie Mate</title>
</head>

<body>
  <div class="container">

    <nav>
      <div class="nav-wrapper">
        <a href="http://chittagongit.com//images/movie-reel-icon/movie-reel-icon-23.jpg" class="brand-logo">Movie
          Mate</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Login</a></li>
          <li><a href="badges.html">Sign up</a></li>
        </ul>
        {{!-- enter mobile drop down here if using --}}
      </div>
    </nav>

    {{{body}}}

    <footer class="center footer">
      <div class="container">
        <p>Movie Mate</p>
      </div>
    </footer>

  </div>


  {{{body}}}

  <footer class="center footer">
    <div class="container" id="footer">
      © 2019 Copyright Movie Mate
    </div>
  </footer>


{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>


</body>

</html>