
  {{!-- parallax --}}
  <div class="parallax-container">
    <div class="parallax"><img src="./images/empty-theater.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">About Movie Mate</h2>
      <p class="grey-text text-darken-3 lighten-3">Have you ever wanted to go to the movies but you have no friends and
        your wife refuses to see Spider-Man: Into the Spiderverse? Well worry no more! Welcome to
        Movie Mate! All you need to do is input the movie you want to see and the theater you want to go to and Movie
        Mate will match
        you up with other like-minded individuals to go to the movies with you! Want to see it at a specific time? Input
        that time! A specific date? Yeah, we do that, too! Never be that lone person at the theater again!</p>
      {{!-- Submit button --}}
      <div class="button center-align">
      <a href="/movies" class="waves-effect waves-light btn-large">Find My Movie Mate</a>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="./images/Nitehawk.jpg"></div>
  </div>