<div class="container">
  {{!-- Header & nav bar --}}
  <nav>
    <div class="nav-wrapper">
      <a href="http://chittagongit.com//images/movie-reel-icon/movie-reel-icon-23.jpg" class="brand-logo">Movie Mate</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    {{!-- enter mobile drop down here if using --}}
    </div>
  </nav>
  {{!-- parallax --}}
  <div class="parallax-container">
      <div class="parallax"><img src="./images/empty-theater.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">About Movie Mate</h2>
        <p class="grey-text text-darken-3 lighten-3">Have you ever wanted to go to the movies but you have no friends and your wife refuses to see Spider-Man: Into the Spiderverse? Well worry no more! Welcome to 
          Movie Mate! All you need to do is input the movie you want to see and the theater you want to go to and Movie Mate will match 
          you up with other like-minded individuals to go to the movies with you! Want to see it at a specific time? Input that time! A specific date? Yeah, we do that, too! Never be that lone person at the theater again!</p>
        
    </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="./images/Nitehawk.jpg"></div>
    </div>

</div>

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}
