{{!-- carousel for current movies --}}
<div class="carousel" id="carousel">
    <a class="carousel-item" href="#one!"><img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/211313/CaptiveState2019-2.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/211313/CaptiveState2019-2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/215555/FiveFeetApart2019_2.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/217174/NMF2_Poster.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/212923/WP_DIGI_Online_Tsr_1sht.jpg"></a>
    <a class="carousel-item" href="#six!"><img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/216036/1691_Moses_250x375.jpg"></a>
    <a class="carousel-item" href="#seven!"><img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/188283/CaptainMarvel5c0482baa8969.jpg"></a>
    <a class="carousel-item" href="#eight!"><img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/217428/TheKid2019.jpg"></a>
    <a class="carousel-item" href="#nine!"><img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/213527/Climax-2019.jpg"></a>
    <a class="carousel-item" href="#ten!"><img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/206954/MadeaFF_1Sht_Payoff_VF.jpg"></a>
    <a class="carousel-item" href="#eleven"><img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/215780/FWMF_Poster.jpg"></a>

  
  </div>
{{!-- cards for movies with available selection box --}}
<div class="col s12 m7" id="moviecards">
    <h2 class="header">Captive State</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/211313/CaptiveState2019-2.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <id class="rating">Rating:</id> <p>PG-13</p>
          <br>
          <id class="runtime">Runtime:</id> <p>109 minutes</p>
          <br>
          <id class="genre">Genre:</id> <p>Sci-fi/fantasy, Suspense/thriller</p>
        
        <div class="card-content">Show Times
          <p> 1300, 1500, 1700, 1900, 2100</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/tt5968394/">See More Info!</a>
        </div>
      </div>
    </div>
  </div>
<div class="col s12 m7" id="moviecards">
    <h2 class="header">Nancy Drew and the Hidden Staircase</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src=    "https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/216848/NancyDrewAndTheHiddenStaircase2019.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <id class="rating">Rating:</id> <p>PG</p>
          <br>
          <id class="runtime">Runtime:</id> <p>89 minutes</p>
          <br>
          <id class="genre">Genre:</id> <p>Family, Suspense/Thriller</p>
        
        <div class="card-content">Show Times
          <p> 1300, 1500, 1700, 1900, 2100</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/tt8323104/?ref_=nv_sr_1">See More Info!</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col s12 m7" id="moviecards">
    <h2 class="header">Five Feet Apart</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/215555/FiveFeetApart2019_2.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <id class="rating">Rating:</id> <p>PG-13</p>
          <br>
          <id class="runtime">Runtime:</id> <p>114 minutes</p>
          <br>
          <id class="genre">Genre:</id> <p>Drama, Romance</p>
        
        <div class="card-content">Show Times
          <p> 1300, 1500, 1700, 1900, 2100</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/tt6472976/?ref_=nv_sr_1">See More Info!</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col s12 m7" id="moviecards">
    <h2 class="header">No Manches Frida 2</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/217174/NMF2_Poster.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <id class="rating">Rating:</id> <p>R</p>
          <br>
          <id class="runtime">Runtime:</id> <p>102 minutes</p>
          <br>
          <id class="genre">Genre:</id> <p>Comedy</p>
        
        <div class="card-content">Show Times
          <p> 1300, 1500, 1700, 1900, 2100</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/tt9019352/?ref_=nv_sr_3">See More Info!</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col s12 m7" id="moviecards">
    <h2 class="header">Wonder Parks</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/212923/WP_DIGI_Online_Tsr_1sht.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <id class="rating">Rating:</id> <p>PG-13</p>
          <br>
          <id class="runtime">Runtime:</id> <p>85 minutes</p>
          <br>
          <id class="genre">Genre:</id> <p>Actions/Adventure, Animated, Comedy</p>
        
        <div class="card-content">Show Times
          <p> 1300, 1500, 1700, 1900, 2100</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/tt6428676/?ref_=nv_sr_1">See More Info!</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col s12 m7" id="moviecards">
    <h2 class="header">Patterns of Evidence: Moses Controversy</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/216036/1691_Moses_250x375.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <id class="rating">Rating:</id> <p>PG-13</p>
          <br>
          <id class="runtime">Runtime:</id> <p>140 minutes</p>
          <br>
          <id class="genre">Genre:</id> <p>Concert/Special Events</p>
        
        <div class="card-content">Show Times
          <p> 1300, 1500, 1700, 1900, 2100</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/tt10027696/?ref_=nv_sr_2">See More Info!</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col s12 m7" id="moviecards">
    <h2 class="header">Captain Marvel</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/188283/CaptainMarvel5c0482baa8969.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <id class="rating">Rating:</id> <p>PG-13</p>
          <br>
          <id class="runtime">Runtime:</id> <p>124 minutes</p>
          <br>
          <id class="genre">Genre:</id> <p>Action/Adventure</p>
        
        <div class="card-content">Show Times
          <p> 1300, 1500, 1700, 1900, 2100</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/tt4154664/?ref_=nv_sr_1">See More Info!</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col s12 m7" id="moviecards">
    <h2 class="header">The Kid</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/217428/TheKid2019.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <id class="rating">Rating:</id> <p>R</p>
          <br>
          <id class="runtime">Runtime:</id> <p>99 minutes</p>
          <br>
          <id class="genre">Genre:</id> <p>Action/Adventure, Drama, Western</p>
        
        <div class="card-content">Show Times
          <p> 1300, 1500, 1700, 1900, 2100</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/tt4975920/?ref_=nv_sr_1">See More Info!</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col s12 m7" id="moviecards">
    <h2 class="header">Climax</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/213527/Climax-2019.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <id class="rating">Rating:</id> <p>PG-13</p>
          <br>
          <id class="runtime">Runtime:</id> <p>85 minutes</p>
          <br>
          <id class="genre">Genre:</id> <p>Drama, Music/Performing Arts</p>
        
        <div class="card-content">Show Times
          <p> 1300, 1500, 1700, 1900, 2100</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/tt8359848/?ref_=nv_sr_1">See More Info!</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col s12 m7" id="moviecards">
    <h2 class="header">Tyler Perry's a Madea Family Funeral</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/206954/MadeaFF_1Sht_Payoff_VF.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <id class="rating">Rating:</id> <p>PG-13</p>
          <br>
          <id class="runtime">Runtime:</id> <p>102 minutes</p>
          <br>
          <id class="genre">Genre:</id> <p>Comedy</p>
        
        <div class="card-content">Show Times
          <p> 1300, 1500, 1700, 1900, 2100</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/tt7054636/?ref_=fn_al_tt_1">See More Info!</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col s12 m7" id="moviecards">
    <h2 class="header">Fighting With My Family</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/215780/FWMF_Poster.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <id class="rating">Rating:</id> <p>PG-13</p>
          <br>
          <id class="runtime">Runtime:</id> <p>102 minutes</p>
          <br>
          <id class="genre">Genre:</id> <p>Action/Adventure, Sci-Fi/Fantasy</p>
        
        <div class="card-content">Show Times
          <p> 1300, 1500, 1700, 1900, 2100</p>
        </div>
        <div class="card-action">
          <a href="https://www.imdb.com/title/tt6513120/?ref_=nv_sr_1">See More Info!</a>
        </div>
      </div>
    </div>
  </div>


  
