
<div id="profileusername">welcome{{this.username}}, {{this.id}}</div>










<div class="row">
    <form id="userpreferredform" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="Zip" type="Zip" class="validate">
          <label for="Zip">Zip Code</label>
        </div>
      </div>
      <div class="button center-align">
      <a class="waves-effect waves-light btn-large">Great! Save Changes</a>
      </div>
          </div>
        </div>
      </div>
    </form>
  </div>