{{!-- Pick either the table or the cards to use. If chosing cards there is one here, you will have to write js to duplicate (or you can copy) --}}
{{!-- Table if you want to use it. Anything with a '####' is where you will have the results populate --}}
{{!-- Simply delete the method which you do not use before pushing --}}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Movie Selection</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Jennifer Nelson</td>
      <td>jnelson@gmail.com</td>
      <td>Nancy Drew and the Hidden Staircase</td>
    </tr>
    <tr>
      <td>Mariah Norman</td>
      <td>miminorm@gmail.com</td>
      <td>Five Feet Apart</td>
    </tr>
    <tr>
      <td>Henry Belcher</td>
      <td>thehendawg@yahoo.com</td>
      <td>Patterns of Evidence: Moses Controversy</td>
    </tr>
  </tbody>
</table>


{{!-- 
  { { !--Card for you to use(requires a little more JavaScript as they will have to repeat automatically)--} }

  {
    {
    !-- < div class="row" >
      <div class="col s12 m6" id="moviemate">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Name</span>
            <p>Which movie and time they would like to see.</p>
          </div>
          <div class="card-action">
            <btn button="#">See this movie with this person</a>
          </div>
        </div>
      </div>
  </div > --}
  } --}}