

<div id="viewMates"><h2 style="padding-top:50px;">View Your Mates!</h2></div>


<div id="resultsContainer" class="container">
    <div style="text-align:center; border-style:dashed; border-color:goldenrod" class="row"> <strong>Top Matches</strong></div>
    <div class="row">
        <div id="results1" class="col">
            <div class="row">
                <div id="image">
                    <img id="display-image" href="">
                    
                </div>
            </div>
            <br>
            <br>
            <br>
            <hr>
            <div class="row">
                <strong>Name:</strong>
                <div id="display-name">  Jonathan</div>
            </div>
            <hr>
            <div class="row">
                <strong>Email:</strong>
                <div id="display-email">qwerty@mail.com</div>
            </div>
            <hr>
            <div class="row">
                    <strong>Zipcode:</strong>
                <div id="display-zipcode">10033</div>
            </div>
            <hr>
            <div class="row">
              <strong>Movie preference:</strong>
                <div id="display-preference">Movies</div>
            </div>
            
        </div>
        <div id="results2" class="col">
            <div class="row">
                <div id="image">
                    <img id="display-image" href="">
                    
                </div>
            </div>
            <br>
            <br>
            <br>
            <hr>
            <div class="row">
                <strong>Name:</strong>
                <div id="display-name">  Jonathan</div>
            </div>
            <hr>
            <div class="row">
                <strong>Email:</strong>
                <div id="display-email">qwerty@mail.com</div>
            </div>
            <hr>
            <div class="row">
                    <strong>Zipcode:</strong>
                <div id="display-zipcode">10033</div>
            </div>
            <hr>
            <div class="row">
              <strong>Movie preference:</strong>
                <div id="display-preference">Movies</div>
            </div>
        </div>
        <div id="results3" class="col">
            <div class="row">
                <div id="image">
                    <img id="display-image" href="">
                    
                </div>
            </div>
            <br>
            <br>
            <br>
            <hr>
            <div class="row">
                <strong>Name:</strong>
                <div id="display-name">  Jonathan</div>
            </div>
            <hr>
            <div class="row">
                <strong>Email:</strong>
                <div id="display-email">qwerty@mail.com</div>
            </div>
            <hr>
            <div class="row">
                    <strong>Zipcode:</strong>
                <div id="display-zipcode">10033</div>
            </div>
            <hr>
            <div class="row">
              <strong>Movie preference:</strong>
                <div id="display-preference">Movies</div>
            </div>
        </div>
    </div>
</div>

