 
 
 <form id="signupform" action="/signup" method="POST">
  <div class="container">
    <h3>Register</h3>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="username"><b>Username</b></label>
    <input id="usernamesignup"type="text" placeholder="Enter username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input id="passwordsignup" type="password" placeholder="Enter Password" name="password" required>

    <label for="email"><b>Email</b></label>
    <input id="emailsignup" type="email" placeholder="Enter email" name="email" required>

    <label for="zipcode"><b>Zipcode</b></label>
    <input id="zipcodesignup" type="text" placeholder="Enter zipcode" name="zipcode" required>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button id="createuser"type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="/signin">Sign in</a>.</p>
  </div>
</form>

