/* Main */
body {
  background-color: #ebebeb;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper {
  background-color: #7f1100;
  color: #ebebeb;
}

.brand-logo {
  margin-left: 20px;
}

.header {
  padding-top: 10px;
}

.login_signup {
  font-size: 20px;
}

.list-group-item {
  line-height: 2.5;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
}

#footer {
  color: #ebebeb;
  background-color: #7f1100;
  padding: 5px;
  margin-top: 5px;
  position: relative;
  left: 0;
  bottom: 0;
}

/* Index */
.index-btn {
  background: #d03900;
  border-radius: 7px;
}

/* Movies */

/* Login */
.login-btn {
  background: #d03900;
  border-radius: 7px;
}

/* Sign Up */
.user-btn {
  background: #d03900;
  border-radius: 7px;
}

/* 404 */
.error_page {
  text-align: center;
}

#error_home {
  text-align: center;
  background: #d03900;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
}

.error_text {
  text-align: center;
}

#popcorn {
  margin-left: auto;
  margin-right: auto;
  height: 390px;
}