/* Main */
body {
  background-color: #ebebeb;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper {
  background-color: #7f1100;
  color: #ebebeb;
}

.brand-logo {
  margin-left: 20px;
}

.header {
  padding-top: 10px;
}

.login_signup {
  font-size: 20px;
}

.list-group-item {
  line-height: 2.5;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
}

#footer {
  color: #ebebeb;
  background-color: #7f1100;
  padding: 5px;
  margin-top: 5px;
  position: relative;
  left: 0;
  bottom: 0;
}

/* Index */
.index-btn {
  background: #d03900;
  border-radius: 7px;
}

/* Movies */
#modal1 {
background-color: #7f1100;
border-style: dotted ;
border-color: black
}
.modal-footer {
  background-color: #7f1100
}

/* 404 */
.error_page {
  text-align: center;
}

#error_home {
  text-align: center;
  background: #d03900;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
}

.error_text {
  text-align: center;
}

#popcorn {
  margin-left: auto;
  margin-right: auto;
  height: 390px;
}

/* Results */
#viewMates{
  position: relative;
  background-image: url(../images/cinema.jpg);
  height: 250px;
  width: 945px;
  background-color:black;
  color:white;
  text-align: center;
  top:-35px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#resultsContainer{
  position:relative;
  width:945px;
  height: 600px;
  background-color: #7f1100;
  border-style: dotted;
  border-color: #d03900
}

#results1 {
  position: relative;
  width: 33%;
  height: 450px;
  background-color: goldenrod;
  left:5px;
  border-style:dotted;
  border-color: black;
  
}
#results2 {
  position: relative;
  width: 33%;
  height: 450px;
  background-color: goldenrod;
  left:5px;
  border-style:dotted;
  border-color: black;
  
}
#results3 {
  position: relative;
  width: 33%;
  height: 450px;
  background-color: goldenrod;
  left:5px;
  border-style:dotted;
  border-color: black;
  
}

#display-name, #display-email, #display-zipcode, #display-preference{
  text-align: center;

}